.button {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  transition: var(--transition);

  &--style-type- {
    &link {
      display: inline;
      line-height: inherit;
      &:hover {
        color: var(--font-color-highlight);
      }
    }
  }
}
