@font-face {
  font-family: "DIN";
  src:
    url("./fonts/DIN-Light.woff2") format("woff2"),
    url("./fonts/DIN-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN";
  src:
    url("./fonts/DIN-Regular.woff2") format("woff2"),
    url("./fonts/DIN-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN";
  src:
    url("./fonts/DIN-Medium.woff2") format("woff2"),
    url("./fonts/DIN-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN";
  src:
    url("./fonts/DIN-Bold.woff2") format("woff2"),
    url("./fonts/DIN-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
