@use "../Theme/mixins.scss" as *;

.section,
.header {
  margin: var(--spacing-xl) 0;
}

.header {
  &__locales {
    &__icon {
      vertical-align: middle;
    }
  }

  &__actions {
    &__item {
      margin-right: var(--spacing-md);
      &:last-child {
        margin-right: 0;
      }
    }
  }
  @include print {
    &__actions {
      display: none;
    }
  }

  &__subtitle {
    font-size: calc(var(--base-size) * 5);
  }
}

.section {
  margin-top: 0;
}

.header {
  @include print {
    margin-top: 0;
  }
}

.section {
  &__job-experience {
    margin: var(--spacing-lg) 0;
  }
}

.technologies {
  @include desktop-media {
    column-count: 2;
  }
  @include print {
    column-count: 2;
  }
}
