@use "../Theme/mixins.scss" as *;

.section,
.header,
.footer {
  margin: var(--spacing-xl) 0;
}

.section {
  &__job-experience {
    margin: var(--spacing-lg) 0;
  }
}

.technologies {
  display: grid;
  gap: var(--spacing-xs);

  @include desktop-media {
    grid-template-columns: repeat(2, 1fr);
  }
}
